body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    margin:20px;
    height: 100vh;
}

.calculator {
    width: 100%;
    max-width: 375px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #222;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
}

.mainDisplay {
    width: 100%;
    height: 60px;
    font-size: 3em;
    text-align: right;
    padding: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.equation-display {
    width: 100%;
    height: 60px;
    font-size: 3em;
    text-align: right;
    padding: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.equation-display .operator {
    color: #eB6666;
}

.buttons {
    background-color: #292D36;
    padding: 1.5rem;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(4, 1f4);
    grid-gap: 1rem;
    box-shadow: 0px - 2px 16px rgba(0, 0 , 0, 0.2);
}

button {
    position: relative;
    cursor: pointer;
    display: block;
    height: 0;
    padding-top: 100%;
    background-color: #262933;
    border-radius: 1rem;
    transition: 0.2s;
    user-select: none;
}

.clear, .delete {
    width: 160px;
    padding: 10px 20px;
    cursor: pointer;
    padding: 1.5rem;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    box-shadow: 0px - 2px 16px rgba(0, 0 , 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clean {
    background-color: #292D36;
    padding-bottom: 1.5rem;
    border-radius: 0rem 0rem 1.5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 2rem;
    font-weight: 700;
    color: #FFF;
}

.number:hover,
.number.active-keyboard {
    background-color: #4e4e4e;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.operator:hover,
.operator.active-keyboard {
    background-color: rgb(72, 114, 240);
    color: white;
}

.clear:hover,
.clear.active-keyboard {
    background-color: white;
    color: white;
}

.delete:hover,
.delete.active-keyboard {
    background-color: white;
    color: white;
}

.equals:hover,
.equals.active-keyboard {
    background-color: #EB6666;
    color: white;
}

button.operator span {
    color: #EB6666
}

button.clear span {
    color: #26FED7;
}

button.delete span {
    color: #26FED7
}

button.equals span {
    color:rgb(72, 114, 240)
}