body {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: "Arial", sans-serif;
    margin:20px;
}

.calculator {
    width: 300px;
    background-color: #222;
    border-radius: 10px;
    padding: 15px;
}

.mainDisplay {
    width: 100%;
    height: 50px;
    font-size: 2em;
    text-align: right;
    padding: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.equation-display {
    width: 100%;
    height: 50px;
    font-size: 2em;
    text-align: right;
    padding: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}



.buttons-top {
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons1 {
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons2 {
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons3 {
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-bottom {
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}